* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f6f7;
  font-size: 16px;
}

.header {
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
  text-align: center;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
  /* z-index: 1000; */
}

.breed-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  max-width: 1400px;
  margin: 0 auto;
}
.breed-label {
  font-size: 1.5rem;
  color: #0a0a23;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 8px;
  margin: 0;
  margin-right: 10px;
}

.breed-select {
  display: inline-block;
  width: 200px; /* Adjust the width as needed */
  font-size: 1.2rem; /* Larger font size */
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  max-width: 1400px;
  margin: auto;
  gap: 16px;
}
.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
